body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #265073;
  /* height: 100px;  */
  position: fixed;
  top: 0;
  width: 100%;
}
#logo {
  height: 8vh;
  float: left;
  margin-left: 30px;
  margin-top: 6px;
}
.nav-title {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  height: 10vh;
  font-size: x-large;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ecf4d6;
}

.nav-title li {
  padding: 10px;
}

@media (max-width: 480px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Header Responsive */
  header {
    background-color: #265073;
    /* height: 100px;  */
    position: fixed;
    top: 0;
    width: 85px;
    height: 100vh;
  }
  #logo {
    height: 6vh;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
  }
  .nav-title {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80px;
    margin: 0;
    height: 90vh;
    font-size: 1em;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #ecf4d6;
  }

  .nav-title li {
    padding: 8px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Header Responsive */
  header {
    background-color: #265073;
    /* height: 100px;  */
    position: fixed;
    top: 0;
    width: 120px;
  }
  #logo {
    height: 8vh;
    float: left;
    margin-left: 10px;
    margin-top: 6px;
  }
  .nav-title {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100px;
    margin: 0;
    height: 100vh;
    font-size: x-large;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #ecf4d6;
  }

  .nav-title li {
    padding: 10px;
  }
}

.container h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  margin: 30px;
}
span {
  font-size: 1.1em;
  text-decoration: underline;
}
.container {
  background-color: #ecf4d6;
  height: 100vh;
}
#dp {
  width: 50%;
  margin-top: 100px;
  border-radius: 50%;
}
#my-info {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 80px;
}

@media (max-width: 480px) {
  /* Hero responsive */

  .container > div > h1 {
    font-size: 1.2rem;
  }
  .container > div > h2 {
    font-size: 1em;
    padding-left: 0;
  }
  .container {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 90vh;
    /* align-items: center; */
    /* justify-content: center; */
  }

  #my-dp {
    width: 100%;
  }
  #dp {
    width: 50%;
    margin-top: 50px;
    border-radius: 0%;
    margin-left: 50px;
  }
  #my-info {
    width: 90%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30vh;
    gap: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* Hero responsive */

  .container > div > h1 {
    font-size: 2rem;
  }
  .container > div > h2 {
    font-size: 1.2em;
    flex-shrink: 1;
  }
  .container {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
  }

  #my-dp {
    width: 100%;
  }
  #dp {
    width: 50%;
    margin-top: 50px;
    border-radius: 0%;
    margin-left: 100px;
  }
  #my-info {
    width: 90%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30vh;
    gap: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.about-container {
  height: 100vh;
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #9ad0c2;
}
.about-container h2,
h4 {
  margin: 0;
}
.about-container > .item > ul > li {
  margin-top: 20px;
}
.item {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  padding: 20px;
  text-align: justify;
  margin-top: 70px;
}
/* .item1 {
  background-color: red;
} */

.item2 {
  grid-row: span 2;
  background-color: #2d9596;
  /* border-radius: 5%; */
  margin-right: 10px;
}
/* .item3 {
  background-color: brown;
} */
@media (max-width: 480px) {
  .about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #9ad0c2;
    margin-left: 80px;
    width: 65%;
    font-size: small;
  }
  .about-container h2,
  h4 {
    margin: 0;
    margin-top: 0px;
  }
  .about-container > .item > ul > li {
    margin-top: 0px;
  }
  .item {
    display: inline-block;
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    padding: 10px;
    text-align: justify;
    margin-top: 0px;
  }
  /* .item3 {
     margin-left: -180px; 
  } */

  .item2 {
    order: 2;
    background-color: #9ad0c2;
    margin-right: 0px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #9ad0c2;
    margin-left: 120px;
  }
  .about-container h2,
  h4 {
    margin: 0;
    margin-top: 0px;
  }
  .about-container > .item > ul > li {
    margin-top: 0px;
  }
  .item {
    display: inline-block;
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    padding: 10px;
    text-align: justify;
    margin-top: 0px;
  }
  /* .item3 {
     margin-left: -180px; 
  } */

  .item2 {
    order: 2;
    background-color: #9ad0c2;
    margin-right: 0px;
  }
}

.edu-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ecf4d6; */
  background-color: #9ad0c2;
  margin: 0;
}
.edu-container > div > h2 {
  margin: 0;
  padding-top: 20px;
}
.edu-container > div > ul {
  list-style: square;
  padding: 20px;
  padding-top: 0;
}
.edu-container > div > ul > li {
  margin-top: 30px;
}
.edu-item {
  background-color: #ecf4d6;
  /* background-color: #9ad0c2; */
  padding-left: 20px;
  margin-top: 70px;
}
@media (max-width: 480px) {
  .edu-container {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: #ecf4d6; */
    background-color: #9ad0c2;
    margin-left: 90px;
    margin-top: 0px;
    padding-top: 0px;
    width: 65%;
    font-size: small;
  }
  .edu-item {
    margin-top: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .edu-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ecf4d6; */
    background-color: #9ad0c2;
    margin-left: 120px;
  }
}

.footer-container {
  background-color: #265073;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container > footer > h2 {
  margin: 0;
  padding: 0;
}
.contact-info {
  background-color: #9ad0c2;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-info > h2 {
  margin: 0;
}
.contact-info > ul > li {
  font-size: x-large;
  margin-left: 100px;
  padding-left: 0;
  padding-bottom: 20px;
}
@media (max-width: 480px) {
  .contact-info {
    flex-direction: column;
  }
  .contact-info > ul > li {
    margin-left: 0px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }
}
